.blog-card {
  background-color: #97d2ec1d;
  color: white;
  padding: 1rem;
  border-radius: 9px;
  width: 260px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  outline: 0.15rem solid #97d2ec36;
  gap: 0.8em;
  &:hover &__footer > Button {
    // outline: 0.08rem solid #97d2ec;
    transition: all 0.3s;
    opacity: 1;
  }

  &:hover {
    outline: 0.15rem solid #97d2ec;
  }

  &__heading {
    font-weight: 800;
    font-size: 1.2rem;
    height: 72px;
    overflow: hidden; /* hide any overflow */
    text-overflow: ellipsis; /* show an ellipsis (...) when the text is truncated */
    display: -webkit-box; /* use the old -webkit- prefix for maximum browser compatibility */
    -webkit-box-orient: vertical; /* set the direction of the box to vertical */
    -webkit-line-clamp: 3;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > Button {
      opacity: 0;
    }
  }

  > img {
    object-fit: cover;
    width: 100%;
    border-radius: 9px;
    height: 160px;
  }
}

.read-time {
  font-size: 12px;
  color: #97d2ec;
  display: flex;
  align-items: center;
  gap: 5px;
}
.blogs-container {
  display: grid;
  // padding: 2rem 8rem;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.introjs-tooltip {
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.introjs-tooltip h1 {
  color: red !important;
}
