.comment-screen {
  transition: all 4s ease-in;
  position: relative;
  height: 100%;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #97d2ec36;
    position: sticky;
    width: 100%;
  }

  &__content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    top: 40px;
    bottom: 0px;

    gap: 1rem;
  }

  &__comment {
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
  }
}

.comments {
  &__name {
    font-size: 12px;
    color: #ffffffb0;
    line-height: 20px;
  }

  &__comment {
    font-size: 14px;
    line-height: 20px;
  }
}
