.modal-overlay {
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.747);
  height: 100%;
  width: 100%;
  backdrop-filter: blur;
  position: fixed;
  top: 0;
}
.modal {
  position: fixed;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  z-index: 9;

  &-content {
    background-color: #21273d;
    border: 1.3px solid #97d2ec36;
    border-radius: 17px;
  }
}
