.invite-modal {
  padding: 1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  > span {
    color: #ffffffc8;
    font-size: 14px;
    line-height: 24px;
  }

  &__heading {
    font-weight: 800;
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}
