@import "colors.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: var(--colors-primary-background);
  height: 100vh;
  color: var(--colors-primary-text);
}

body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 1px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #97d2ec36;
  border-radius: 60px;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  background-color: #97d2ec1d;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 12px;
  caret-color: #97d2ec;
  color: white;
  width: 100%;

  &:focus {
    outline: 0.1em solid #97d2ec;
    box-shadow: 0 0 10px #9ecaed;
    transition: all 0.2s ease-out;
  }

  &::placeholder {
    color: #ffffff91;
  }
}

textarea {
  background-color: #97d2ec1d;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 12px;
  caret-color: #97d2ec;
  color: white;
  width: 100%;

  &:focus {
    outline: 0.1em solid #97d2ec;
    box-shadow: 0 0 10px #9ecaed;
    transition: all 0.2s ease-out;
  }

  &::placeholder {
    color: #ffffff91;
  }
}

.introjs-tooltip .introjs-tooltiptitle {
  color: black !important;
}

.introjs-tooltip .introjs-tooltiptext {
  color: rgb(94, 81, 81) !important;
}

.introjs-tooltip {
  background-color: #e6e6e6 !important;
}

.introjs-tooltipbuttons {
  border-top: 1px solid #21273d82 !important;
}

.introjs-button {
  color: white !important;
  text-shadow: none !important;
  border-radius: 4px !important;
  background-color: #21273d !important;
  border: 1px solid #21273d !important;
}

.introjs-tooltiptext {
  font-size: 23px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
}

.MuiPaper-root {
  background-color: #fff !important;
  color: #21273d !important;
  font-weight: 600 !important;
}
